body {
		background-color: #EFEFEF;
		 }

/*if you want to change the color use "grey"*/
hr {
	border-style: none ;
	border-top-style: dotted;
	border-color: #205375;
	border-width: 5px;
	width: 30%;
}

#heading{
	color:#F66B0E
}

#heading:hover{
		color: #069A8E
}

h2 {
	color:#112B3C
}
